image:
  repository: 173235558072.dkr.ecr.us-east-1.amazonaws.com/ticket-booking/booking-service
  pullPolicy: IfNotPresent
  tag: 26-c215c2624955c975c8d2c851c4be7bcf3d9f187e

service:
  type: ClusterIP
  port: 3003

ingress:
  enabled: false

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

env:
  NODE_ENV: production
  PORT: "3003"
  MONGODB_URI: "mongodb://root:password123@mongodb.dev.svc.cluster.local:27017/userdb?authSource=admin"
