image:
  repository: 044302809167.dkr.ecr.us-east-1.amazonaws.com/ticket-booking/booking-service
  pullPolicy: IfNotPresent
  tag: 1-015eb2ad06d62d78926d17cc64cfb6da4c370999

service:
  type: ClusterIP
  port: 3003

ingress:
  enabled: false

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

env:
  NODE_ENV: production
  PORT: "3003"
  MONGO_URI: "mongodb://mongodb.default.svc.cluster.local:27017/userdb"
