image:
  repository: 044302809167.dkr.ecr.us-east-1.amazonaws.com/ticket-booking/booking-service
  pullPolicy: IfNotPresent
  tag: 4-9e49ff30ad19e7e0d5474353e97865b727fec564

service:
  type: ClusterIP
  port: 3003

ingress:
  enabled: false

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

env:
  NODE_ENV: production
  PORT: "3003"
  MONGODB_URI: "mongodb://root:password123@mongodb.dev.svc.cluster.local:27017/userdb?authSource=admin"
