image:
  repository: 044302809167.dkr.ecr.us-east-1.amazonaws.com/ticket-booking/booking-service
  pullPolicy: IfNotPresent
  tag: 18-499d29b3bdc4da320e5fdcd2fc6fbcf1ab15bc6d

service:
  type: ClusterIP
  port: 3003

ingress:
  enabled: false

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

env:
  NODE_ENV: production
  PORT: "3003"
  MONGODB_URI: "mongodb://root:password123@mongodb.dev.svc.cluster.local:27017/userdb?authSource=admin"
